.button {
  margin-top: 15px;
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 1rem;
  border: 1px solid #b5a8bb;
  background-color: #b5a8bb;
  color: white;
  border-radius: 12px;
  display: block;
}

.button:hover{
  background: #865391;
  border-color: #865391;
}
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
